/* importing the font to use from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

html {
    --primary-red: #bc1c26;
    --primary-blue: #007dad;
    --primary-grey: #37526c;
    --primary-green: #00604e;
    --sunrise: #ec6e0b;
    --lake: #0094d1;
    --slate: #597b9e;
    --grass: #3fa149;
    --gold: #f3be00;
    --sky: #62b7e7;
    --silver: #9ba3b4;
    --olive: #a3c63c;
    --light-sky: #b3d8f4;
    --cloud: #d0d2e0;

    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--primary-blue);
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

header {
    display: flex;
    width: 100%;
    background-color: var(--primary-red);
    height: 5vh;
    min-height: 75px;

    align-items: center;
    padding: 0 10vw;
}

.logo {
    height: 50px;
}

.navHeading {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    margin: 0 0 0 20px;
}

.videoPlayer {
    width: 100%;
    max-width: 1000px;
    height: auto;
    min-height: fit-content;
    aspect-ratio: 16 / 9;
}

.video-description {
    color: var(--gold);
    text-align: left;
}

@media screen and (max-width: 500px) {
    .logo {
        height: 30px;
    }

    .navHeading {
        font-size: 0.8rem;
    }
}

.navLeftContainer {
    max-height: 50px;
    display: flex;
    align-items: center;
}

.myNav {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navList {
    text-align: center;
    font-size: 1em;
    margin: 1em;
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 700px) {
    .myNav {
        display: none;
    }

    .navLeftContainer {
        width: 100%;
        justify-content: start;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin: 0 0 0 20px;
    }

    .navList {
        margin: 0 10px;
    }
}

.navList a {
    text-decoration: none;
    color: ghostwhite;

    transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.navList a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

main {
    width: 90vw;
    margin: 10px auto;
}

.page-heading {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-grey);
}

.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 1em;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 1em;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 1em;
    border-radius: 1em;
}

.footer {
    padding: 2em;
    text-align: center;
    background: #ddd;
}

.mySubNav {
    padding: 0;
    margin: 0;
    display: flex;
}

.subNavList {
    text-align: center;
    font-size: 1.5em;
    padding: 0.1em;
    margin: 2em;
    flex: 1;
}

.subnavList a {
    text-decoration: none;
    color: var(--primary-grey);
    display: block;
    border-radius: 0.5em;
    padding: 1em;
    margin: 0.5em;
}

.mobileNav {
    display: none;
    overflow: hidden;
    position: relative;

    justify-content: space-between;
}

.mobileNav #myLinks {
    display: none;
    position: absolute;
    background-color: var(--primary-red);
    height: 100%;
    width: 90%;

    justify-content: center;
    align-items: center;
}

.mobileNav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.desktopNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media only screen and (max-width: 700px) {
    .desktopNav {
        display: none;
    }

    .mobileNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

.text-white {
    color: white;
}

footer {
    width: 100%;
    padding: 4vh 10vw;
    min-height: 75px;
    background-color: var(--primary-blue);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}

@media only screen and (max-width: 900px) {
    footer {
        flex-direction: column;
    }
}

footer a {
    color: white;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
    margin-top: auto;
}
